/*

Open Sans ------->Letra

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: -5px;
}

a{
    text-decoration: none;
    color: inherit;
}

.page-wrapper a:hover {
    color: #E1A042;
}
/* POST SLIDER 
.post-slider{
    border: 1px;
    position: relative;
}

.post-slider 

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    cursor: pointer;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    cursor: pointer;
}

.post-slider .next:hover {
    color: #E1A042;
}

.post-slider .prev:hover {
    color: #E1A042;
}

.post-slider .post-wrapper{
    font-family: 'Open Sans', sans-serif;
    width: 84%;
    height: auto;
    margin: 10px auto;
    overflow: hidden;
    padding: 10px 0px  10px 0px;
    border: 1px;
}

.post-slider .post-wrapper .post {
    height: auto;
    width: 300px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem gray;
}

.post-slider .post-wrapper .post .post-info {
    text-align: justify;
    height: auto;
    border: 1px solid grey;
    padding: 0px 25px 0px 25px ;
}

.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
*/
/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
    
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .top-content{
        margin-left: 40px;
        margin-right: 40px;
    }
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    .top-content{
        margin-left: 60px;
        margin-right: 60px;
    }
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: inline-block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
#image{
    text-align: center;
    margin-bottom: 0px;
}
.slider-title {
    font-weight: bold;
    font-family:'Open Sans';
    text-align: center;
    margin: 30px auto;
    color: #000000;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 25px;
    width: 25px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 60%, 60%;
    border-radius: 100%;
}
section{
    padding-bottom: 30px;
}
.button1 {
    font-family: "Open Sans";
    width: 180px;
    position: relative;
    border-radius: 25px;
    color: black;
    background-color:white ;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;  
}
.button1:hover{
    font-family: "Open Sans";
    width: 180px;
    position: relative;
    border-radius: 25px;
    color: white;
    background-color:#E1A042;
    border: 1px solid #E1A042;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;  

}


.button {
    font-family: "Open Sans";
    width: 200px;
    margin-top: 10px;;
    position: relative;
    border-radius: 25px;
    color: black;
    background-color:white ;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;  
}
.button:hover{
    font-family: "Open Sans";
    width: 200px;
    margin-top: 10px;
    position: relative;
    border-radius: 25px;
    color: white;
    background-color:#E1A042 ;
    border:1px solid #E1A042;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;  

}

.card{
    border:1px solid black;
}
.card:hover{
    box-shadow: 0px 0px 10px 0px #cfcfcf;
}
.card-body{
    min-height: 150px;
    max-height: 200px;
    padding: 16px 16px 0px 16px;
    margin:0px;
}
.card-img-top{
    min-height: 200px;
    max-height: 200px;
}
.card-title{
    font-family: "Open Sans";
    font-size: 20px;
    color: #000000;
}
.card-title:hover{
    color: #E1A042;
}
#autor{
    font-size:12px;
    font-family:"Open Sans";
    padding: px 5px 10px 16px;
  }
#date{
    font-size:12px;
    letter-spacing: 1px;
}

